@page "/students/{ID:int}"
@inject IStudentService StudentService
@inject NavigationManager navigator

<h3>Student Details</h3>

<table>
    <tr>
        <td>First name: </td>
        <td><input value="@Student.FirstName" disabled /></td>
        <td rowspan="3"><img alt="@(Student.FirstName) @(Student.LastName) avatar" src="@Student.AvatarUrl" class="avatar" /></td>
    </tr>
    <tr>
        <td>Last name:</td>
        <td><input value="@Student.LastName" disabled /></td>
    </tr>
    <tr>
        <td>Birthday date:</td>
        <td><input value="@Student.Birthdate.ToShortDateString()" disabled /></td>
    </tr>
    <tr>
        <td>Studies:</td>
        <td><input value="@Student.Studies" disabled /></td>
    </tr>
</table>


<br/>
<button @onclick="Return">Return</button>


@code {
    [Parameter]
    public int ID { get; set; }

    public Student Student { get; set; }

    protected override void OnInitialized()
    {
        Student = StudentService.GetStudent(ID);
    }

    private void Return()
    {
        navigator.NavigateTo("/students");
    }
}

